node_modules
dist
build
.pnp
.pnp.js
coverage

#Next JS
.next/
out/
build

#debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#envs
.env.local
.env.development
.env.production

.turbo

#Vscode user config
.vscode/*
