  @font-face {
    font-family: "DINPro-Medium";
    src: url("/fonts/DINPro-Medium.ttf");
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }

  .tooltip {
    @apply absolute invisible;
  }
  
  .has-tooltip:hover .tooltip {
    @apply z-50 visible;
  }

  @layer utilities {
    .content-auto {
      content-visibility: auto;
    }