@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('./public/fonts/DINPro-Medium.ttf');
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('./public/fonts/DINPro-Bold.OTF');
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('./public/fonts/DINPro-Regular.OTF');
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}